/Common Library/DotNet_Framework/DotNet_Framework/bin
/Common Library/DotNet_Framework/DotNet_Framework/obj
/Common Library/DotNet_Framework/LogicCore/bin
/Common Library/DotNet_Framework/LogicCore/obj
/Common Library/DotNet_Framework/RapidAPI/bin
/Common Library/DotNet_Framework/RapidAPI/obj
/Common Library/DotNet_Framework/Repository/bin
/Common Library/DotNet_Framework/Repository/obj
/Common Library/DotNet_Standard/DotNet_Standard/bin
/Common Library/DotNet_Standard/DotNet_Standard/obj
/Common Library/DotNet_Standard/PosePacket/bin
/Common Library/DotNet_Standard/PosePacket/obj
/Common Library/DotNet_Standard/WebServiceShare/bin
/Common Library/DotNet_Standard/WebServiceShare/obj
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict/bin
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict/obj
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict.Android/bin
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict.Android/obj
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict.iOS/bin
/Mobile App/PoseSportsPredict/PoseSportsPredict/PoseSportsPredict.iOS/obj
/Web App/PoseSportsWebService/CodeGenerator/bin
/Web App/PoseSportsWebService/CodeGenerator/obj
/Web App/PoseSportsWebService/ReferenceText.NetCore/bin/Debug/netcoreapp3.1
/Web App/PoseSportsWebService/ReferenceText.NetCore/obj
/Web App/PoseSportsWebService/SportsWebService/bin
/Web App/PoseSportsWebService/SportsWebService/obj
/Web App/Pose_sports_statistics/Pose_sports_statistics/bin
/Web App/Pose_sports_statistics/Pose_sports_statistics/obj
/Web App/Pose_sports_statistics/Repository.Data/bin
/Web App/Pose_sports_statistics/Repository.Data/obj
/Windows App/SportsAdminTool/Repository.Mysql/bin
/Windows App/SportsAdminTool/Repository.Mysql/obj
/Windows App/SportsAdminTool/SandBox/bin
/Windows App/SportsAdminTool/SandBox/obj
/Windows App/SportsAdminTool/SportsAdminTool/bin
/Windows App/SportsAdminTool/SportsAdminTool/obj
/Common Library/DotNet_Standard/PoseCrypto/bin
/Common Library/DotNet_Standard/PoseCrypto/obj
