<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Facebook_ClientSecret" value="7ecee9ebbf47bbdf10acfa682526ee31" />
  </appSettings>

  <!-- =================================================================================================
  Web Service Configuration
  ======================================================================================================-->
  <system.serviceModel>
    <services>
      <service name="SportsWebService.Services.Auth" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IAuth" />
      </service>
      <service name="SportsWebService.Services.HelloWorld" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IHelloWorld" />
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="serviceInitialization"
              type="SportsWebService.WebBehavior.Server.ServiceInitialize.ServiceInitializationBehaviorSection, SportsWebService" />
        <add name="serviceHeaderProcess"
              type="SportsWebService.WebBehavior.Common.HeaderProcess.HeaderMessageBehaviorSection, SportsWebService" />
        <add name="serviceErrorHandler"
              type="SportsWebService.WebBehavior.Server.ErrorHandler.ServiceErrorBehaviorSection, SportsWebService" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <serviceBehaviors>
        <behavior name="Pose_WebBehavior">
          <serviceInitialization type="SportsWebService.Global, SportsWebService" />
          <!--<serviceHeaderProcess />-->
          <serviceErrorHandler />
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="40" maxConcurrentSessions="64" maxConcurrentInstances="104" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="SportsWebService.Authentication.AuthenticationManager, SportsWebService" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="SportsWebService.Authentication.AuthorizationPolicy, SportsWebService" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="Pose_EndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
</configuration>