<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    </connectionStrings>
  -->
  <configSections xdt:Transform="Replace">
    <section name="redis_connect" type="Repository.Redis.Config.RedisConfigurationSection, Repository" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings xdt:Transform="Replace">
    <add key="RSAKeyContainer" value="PoseLiveRSA" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Facebook_ClientSecret" value="7ecee9ebbf47bbdf10acfa682526ee31" />
    <add key="Google_ClientSecret" value="sJ7bzXDxikHXr9arRHhcuF7E" />
    <add key="Hash_Salt" value="com.poseidon.live" />
  </appSettings>

  <!-- =================================================================================================
  Log 4 Net
  ======================================================================================================-->
  <log4net xdt:Transform="Replace">
    <!--날짜별 로그 파일 생성-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="c:\PoseLog\Live\WebService\Log_" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd.'log'" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%5t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--OutputDebug-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <!--로그수준 level : ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="Logger">
      <level value="INFO" />
      <appender-ref ref="TraceAppender" />
    </logger>
  </log4net>

  <!-- =================================================================================================
  MySql Configuration
  ======================================================================================================-->
  <connectionStrings xdt:Transform="Replace">
    <add name="footballdb" connectionString="server=35.225.30.88;userid=poseadmin;password=vhtp1037015!;port=3306;allowzerodatetime=False;UseAffectedRows=True;Allow User Variables=True;checkparameters=False;convertzerodatetime=True;keepalive=600;database=footballdb" providerName="MySql.Data.MySqlClient" />
    <add name="pose_globaldb" connectionString="server=35.225.30.88;userid=poseadmin;password=vhtp1037015!;port=3306;allowzerodatetime=False;UseAffectedRows=True;Allow User Variables=True;checkparameters=False;convertzerodatetime=True;keepalive=600;database=pose_globaldb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <!-- =================================================================================================
  Web Service Configuration
  ======================================================================================================-->
  <system.serviceModel xdt:Transform="Replace">
    <services>
      <service name="SportsWebService.Services.Auth" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IAuth" bindingConfiguration="RawReceiveCapable" />
      </service>
      <service name="SportsWebService.Services.Football" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IFootball" bindingConfiguration="RawReceiveCapable" />
      </service>
      <service name="SportsWebService.Services.Billing" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IBilling" bindingConfiguration="RawReceiveCapable" />
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="serviceInitialization" type="SportsWebService.WebBehavior.Server.ServiceInitialize.ServiceInitializationBehaviorSection, SportsWebService" />
        <add name="serviceHeaderProcess" type="SportsWebService.WebBehavior.Common.HeaderProcess.HeaderMessageBehaviorSection, SportsWebService" />
        <add name="serviceErrorHandler" type="SportsWebService.WebBehavior.Server.ErrorHandler.ServiceErrorBehaviorSection, SportsWebService" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="Pose_EndPointBehavior">
          <webHttp helpEnabled="false" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Pose_WebBehavior">
          <serviceErrorHandler />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentSessions="64" maxConcurrentInstances="464" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="SportsWebService.Authentication.AuthenticationManager, SportsWebService" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="SportsWebService.Authentication.AuthorizationPolicy, SportsWebService" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="customBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="RawReceiveCapable">
          <webMessageEncoding webContentTypeMapperType="SportsWebService.Utilities.RawContentTypeMapper, SportsWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <httpTransport manualAddressing="true" maxReceivedMessageSize="1000000" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm" />
      </customErrors>
    -->
  </system.web>
  <system.webServer xdt:Transform="Replace">
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false" />
  </system.webServer>
</configuration>