<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="redis_connect" type="Repository.Redis.Config.RedisConfigurationSection, Repository" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="RSAKeyContainer" value="PoseServerRSA" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="Facebook_ClientSecret" value="7ecee9ebbf47bbdf10acfa682526ee31" />
    <add key="Google_ClientSecret" value="sJ7bzXDxikHXr9arRHhcuF7E" />
  </appSettings>

  <!-- =================================================================================================
  Log 4 Net
  ======================================================================================================-->
  <log4net>
    <!--날짜별 로그 파일 생성-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="c:\PoseLog\PoseWebService\Log_" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd.'log'" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%5t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--OutputDebug-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <!--로그수준 level : ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="defaultLogger">
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </logger>
  </log4net>

  <!-- =================================================================================================
  MySql Configuration
  ======================================================================================================-->
  <connectionStrings>
    <add name="footballdb" connectionString="server=127.0.0.1;userid=root;password=zhf1037015!;port=3306;allowzerodatetime=False;UseAffectedRows=True;Allow User Variables=True;checkparameters=False;convertzerodatetime=True;keepalive=600;database=footballdb" providerName="MySql.Data.MySqlClient" />
    <add name="pose_globaldb" connectionString="server=127.0.0.1;userid=root;password=zhf1037015!;port=3306;allowzerodatetime=False;UseAffectedRows=True;Allow User Variables=True;checkparameters=False;convertzerodatetime=True;keepalive=600;database=pose_globaldb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.10.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <!-- =================================================================================================
  Web Service Configuration
  ======================================================================================================-->
  <system.serviceModel>
    <services>
      <service name="SportsWebService.Services.Auth" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IAuth" bindingConfiguration="RawReceiveCapable" />
      </service>
      <service name="SportsWebService.Services.HelloWorld" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IHelloWorld" bindingConfiguration="RawReceiveCapable" />
      </service>
      <service name="SportsWebService.Services.Football" behaviorConfiguration="Pose_WebBehavior">
        <endpoint address="" binding="customBinding" behaviorConfiguration="Pose_EndPointBehavior" contract="SportsWebService.Services.Contract.IFootball" bindingConfiguration="RawReceiveCapable" />
      </service>
    </services>

    <extensions>
      <behaviorExtensions>
        <add name="serviceInitialization" type="SportsWebService.WebBehavior.Server.ServiceInitialize.ServiceInitializationBehaviorSection, SportsWebService" />
        <add name="serviceHeaderProcess" type="SportsWebService.WebBehavior.Common.HeaderProcess.HeaderMessageBehaviorSection, SportsWebService" />
        <add name="serviceErrorHandler" type="SportsWebService.WebBehavior.Server.ErrorHandler.ServiceErrorBehaviorSection, SportsWebService" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="Pose_EndPointBehavior">
          <webHttp helpEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Pose_WebBehavior">
          <serviceErrorHandler />
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceThrottling maxConcurrentCalls="400" maxConcurrentSessions="64" maxConcurrentInstances="464" />
          <serviceDebug includeExceptionDetailInFaults="false" />
          <serviceAuthenticationManager serviceAuthenticationManagerType="SportsWebService.Authentication.AuthenticationManager, SportsWebService" />
          <serviceAuthorization principalPermissionMode="Custom">
            <authorizationPolicies>
              <add policyType="SportsWebService.Authentication.AuthorizationPolicy, SportsWebService" />
            </authorizationPolicies>
          </serviceAuthorization>
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <protocolMapping>
      <add binding="customBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <bindings>
      <customBinding>
        <binding name="RawReceiveCapable">
          <webMessageEncoding webContentTypeMapperType="SportsWebService.Utilities.RawContentTypeMapper, SportsWebService, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <httpTransport manualAddressing="true" maxReceivedMessageSize="524288000" transferMode="Streamed" />
        </binding>
      </customBinding>
    </bindings>
  </system.serviceModel>

  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.1" newVersion="4.0.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>