<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
    </providers>
  </entityFramework>

  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data" />
    </DbProviderFactories>
  </system.data>

  <connectionStrings>
    <add name="footballdb" connectionString="server=127.0.0.1;userid=root;password=zhf1037015!;port=3306;allowzerodatetime=False;UseAffectedRows=True;Allow User Variables=True;checkparameters=False;convertzerodatetime=True;keepalive=600;database=footballdb" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="football_api_url" value="https://api-football-v1.p.rapidapi.com/v2/" />
    <add key="football_api_host" value="api-football-v1.p.rapidapi.com" />
    <add key="football_api_key" value="4f6dda8622mshedc8c90ca3ccad7p1c9741jsnc6a121e98487" />
  </appSettings>

  <log4net>
    <!--날짜별 로그 파일 생성-->
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <file value="c:\PoseLog\AdminTool\Log_" />
      <rollingStyle value="Date" />
      <datePattern value="yyyy-MM-dd.'log'" />
      <appendToFile value="true" />
      <staticLogFileName value="false" />
      <maximumFileSize value="10MB" />
      <maxSizeRollBackups value="1000" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionpattern value="%d [%5t] %-5p %c - %m%n" />
      </layout>
    </appender>
    <!--OutputDebug-->
    <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %c - %m%n" />
      </layout>
    </appender>

    <root>
      <!--로그수준 level : ALL, DEBUG, INFO, WARN, ERROR, FATAL, OFF-->
      <level value="INFO" />
      <appender-ref ref="RollingFile" />
    </root>
    <logger name="defaultLogger">
      <level value="DEBUG" />
      <appender-ref ref="TraceAppender" />
    </logger>
  </log4net>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>