<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!--<appSettings>
    <add key="football_api_url" value="https://api-football-v1.p.rapidapi.com/v2/" />
    <add key="football_api_host" value="api-football-v1.p.rapidapi.com" />
    <add key="football_api_key" value="4f6dda8622mshedc8c90ca3ccad7p1c9741jsnc6a121e98487" />
  </appSettings>-->
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RestSharp" publicKeyToken="598062e77f915f75" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-106.6.10.0" newVersion="106.6.10.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>